@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #020228;
  --secondary-color: #ff00e5;
  --tertiary-color: #b535f6;
  --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
  --btn-link-bg-color: #fff;
  --btn-link-color: #000;
  --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
  --divider-bg-color: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
  --nav-bg-color: rgba(0, 0, 0, 0.3);
  --text-color: #fff;
  --link-color: #9e86ff;
  --form-bg-color: rgba(211, 211, 211, 0.06);
  --form-field-bg-color: rgba(0, 0, 0, 0.2);
  --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
  --form-field-placeholder: rgba(255, 255, 255, 0.7);
  --form-field-error: rgb(255, 76, 76);
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  position: fixed;
  height: 50px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header img {
  object-fit: contain;
  max-height: 50px;
  overflow: visible;
  width: 50%;
  margin-left: 20px;
}

header button{
  text-transform: uppercase;
  color: aliceblue;
  margin: 0px 20px 0px 0px;
  font-weight: 900;
  letter-spacing: 2px;
}

#bt__01 {
  background-color: transparent;
  border: none;
  color: #FFFF;
  padding: 10px 30px;
  }

#bt__02 {
  background-color: var(--tertiary-color);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
}


footer{
  height: 200px;
  text-align: center;
  padding-top: 10%;
  background-color: var(--primary-color);
}

footer a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px;
  font-size: 1.5rem;
  color: var(--link-color);
}
footer p {
  font-size: 0.9rem;
  margin: 20px 0 45px 0;
  color: var(--link-color);
}