main {
    background-color: var(--primary-color);
}
  
.boddy__1 {
    text-align: center;
    color: aliceblue;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite alternate;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--btn-bg-color-gradient);
  
}
  
.boddy__1::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}
  
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% { 
      background-position: 0% 50%;
    }
}
  
.divmenor{
    height: 600px;
    width: 800px;
}
  
.divmenor h1 {
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: 100;
    padding: 50px;
}

#title{
    font-weight: bold;
}
  
.divmenorainda {
    width: 250px;
    text-align: center;
    margin: auto;
}
  
.divmenorainda h3 {
    font-size: 2rem;
    font-family: 'Raleway';
    text-transform: initial;
    font-weight: 100;
    margin-bottom: 25px;
}
  
#middle__button {
    background-image: linear-gradient(to right, #9b34ef, #490cb0);
    width: 100%;
    height: 40px;
    border: transparent;
    border-radius: 20px;
    color: aliceblue;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    animation: botao 2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

#middle__button:hover{
    border: 1px solid rgb(255, 0, 212);
    background: transparent;
    color: rgb(255, 0, 212);
    transition: 1s;
    cursor: pointer;
}
  
.divmenorainda p {
    font-size: 1rem;
    font-family: 'Raleway';
    text-transform: initial;
    font-weight: 100;
}
  
.separador {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
    margin-bottom: 50px;
}

#sim {
    height: max-content;
    border: 1px solid #490cb0;
}


.body__2 {
    height: 100vh;
    display: grid;
    max-width: 60%;
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    margin: 200px auto;
}

#bc {
    width: 100%;
    background-image: url('../images/background-movies-series.png');
    background-position:  left;
    background-repeat: no-repeat;
    background-size: contain;
    

}

section h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}
  
.card__1, .card__2 {
    background: var(--card-bg-color);
    width: 70%;
    height: 80%;
    border-radius: 15px;
    grid: "corpo";
    justify-self: center;
    padding: 50px;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
section article li {
    padding: 15px;
}
  
#tr {
    color: #ff00e5;
}
  
#adireita {
    margin-left: 46%;
}
  
section article li::marker {
    list-style: none;
    content: "+";
}
  
.card__bt {
    background-image: linear-gradient(to right, #9b34ef, #490cb0);
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: aliceblue;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0px;
    font-size: 0.8rem;
    justify-self: flex-end;
}

.card__bt:hover{
    cursor: pointer;
}

.body__2:has(.card__1:hover) .card__2{
    transform: rotateY(-45deg) rotateX(5deg);
    transition: 2s;
}

.body__2:has(.card__2:hover) .card__1 {
    transform: rotateY(45deg) rotateX(5deg);
    transition: 2s;
}

.card__1  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__1 button {
    position: relative;
    top: 50%;
}

.card__2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__2 button {
    position: relative;
    bottom: -20%;
}

.boddy__3 {
    display: grid;
    max-width: 1200px;
    height: max-content;
    margin: auto;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.card__content {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, 0.8s, border 1s;
}

.card__content:hover {
    transform: scale(1.05);
    border: 2px solid #ff00e5;
    border-radius: 16px;
}

.card__content:hover #card__img {
    opacity: 0;
}

#card__img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    transition: 2s;
    opacity: 1;
}

.card__content:nth-child(1):hover {
    background-image: url("../images/hbo-hover_0.webp");
}

.card__content:nth-child(2):hover {
    background-image: url("../images/MAX-Hover.webp");
}

.card__content:nth-child(3):hover {
    background-image: url("../images/DC-Hover.webp");
}

.card__content:nth-child(4):hover {
    background-image: url("../images/MAX-Hover.webp");
}

.card__content:nth-child(5):hover {
    background-image: url("../images/CN-Hover.png");
}

.card__content:nth-child(6):hover {
    background-image: url("../images/UCL-Hover.webp");
}


@keyframes botao {
    0% {
        transform: rotate(15deg);
    }
    10% {
        transform: rotate(-15deg);
    }15% {
        transform: rotate(15deg);
    }20% {
        transform: rotate(-15deg);
    }25% {
        transform: rotate(15deg);
    }30% {
        transform: rotate(-15deg);
    }
    35% { transform: rotate(15deg);
    }
    75% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

@media  screen and (min-width:320px) and (max-width:1200px) {

    header{
        height: max-content;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header_button{
        display: flex;
        flex-direction: column;
        max-width: max-content;
    }

    header img{
        width: 100px;
        
    }
        
    #bc {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .body__2 {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding: 0;
        min-width: 90%;
    }
    .card__1, .card__2{
        padding: 15px;
        margin-top: 10px;
        width: 90%;
    }
    
    .boddy__3 {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 90%;
        overflow: hidden;
        overflow-x: scroll;
        border-radius: 16px;
    }
    .boddy__3 img {
        width: 400px;
    }
    
}